<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>List of Customer</h1>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Create</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="item : ${customers}"></th:block>
            <tr>
                <td th:text="${item.id}"></td>
                <td th:text="${item.fullname}"></td>
                <td th:text="${item.email}"></td>
                <td th:text="${item.phone}"></td>
                <td th:text="${item.address}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>